bleach
build
certifi
charset-normalizer
click
commonmark
docutils
ghp-import
idna
importlib-metadata
Jinja2
keyring
Markdown
MarkupSafe
mergedeep
mkdocs
packaging
pep517
pkginfo
Pygments
pyparsing
python-dateutil
PyYAML
pyyaml_env_tag
readme-renderer
requests
requests-toolbelt
rfc3986
rich
six
tomli
twine
urllib3
watchdog
webencodings
zipp
cwapi3d
mkdocs-material
mkdocstrings[python]